@import url(./root/root.css);


.cards {
  height: max-content;
  padding: 2rem;
  width: 100%;
  transition: all 1s ease-out;
  background: rgba(0, 100, 0, 0.4);
  background-image: url(https://cdn.wallpapersafari.com/40/4/GuJN5f.png);
  background-position: fixed;
  perspective: 800px;
}

.cards-container {
  margin: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
}

.cards-container > header {
  width: 100%;
  position: relative;
  margin: 5rem 1rem 2rem 0rem;
}

.cards-container > header h1 {
  font-size: 3em;
  font-weight: bolder;
  width: fit-content;
  padding-bottom: 0.5rem;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.cards-container > header h1 strong {
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 5px;
}

.grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.grid-item {
  position: relative;
  height: 500px;
  width: 390px;
  padding: 1rem;
  background: rgba(255, 255, 255, 1)!important;
  box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.2);

  cursor: pointer;
  
  perspective: 15px;
  transition: all 0.4s ease-in-out;
}

.grid-item:hover {
  transform: scale(1.025) translateY(-5px)!important;
  box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.4);
}

.img-container {
  margin-bottom: 0.5rem;
  width: 356px;
  height: 205px;

  transition: transform 0.5s;
  overflow: hidden;
}

.img-container img {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.img-container:hover img {
  animation: float 1s infinite;
}

@keyframes flaot {
  from{
    bottom: 0%;
  }
  to {
    bottom: 100%;
  }
}

.card-content {
  font-weight: bolder;
  color: #444;
}

.card-content h1 {
  margin-bottom: 5px;
  font-weight: bolder;
}

.card-content h5 {
  margin-bottom: 10px;
  font-weight: bold;
}

@media (max-width:1600px) {

  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center!important;
  }

  .cards {
    padding: 0;
    padding-bottom: 5rem;
  }

  .cards-container {
    margin: 0;
  }

  .grid-item {
    height: 575px;
    width: 300px;
  }

  .img-container {
      width: 270px;
      height: 205px;
  }
}