.content-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0!important;
}

.royalty{
    position: absolute;
    padding: 1rem;
    z-index: 997;
}

.royalty > a {
    color: #fff;
    font-weight: bolder;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.royalty > a > i{
    color: var(--main-color);
    transition: all ease 0.4s;
}

.royalty > a:hover > i {
    color: #fff;
}

.wrapper-image {
    width: 65%;
    height: 100%;
}

.wrapper-image::before{
    content: '';
    position: absolute;
    width: 65%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.carousel {
    position: absolute;
    width: 65%;
    height: 100%;
    z-index: -1;
}

.carousel-item {
    width: 100%;
    height: 100vh;
}

.carousel-item > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.max-width{
    position: relative;
    max-width: 700px;
    height: 100%;
    margin-right: auto;
    padding: 5rem 0rem 5rem 2rem;
}

.header-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10rem;
    z-index: 999!important;
}

.header-container > h1 {
    color: var(--header-color);
    font-size: 6em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bolder;
    transform: translateX(-800px);
    animation: slideInFromLeft 0.75s ease-in-out 0.4s forwards;
}

.header-container > header {
    color: var(--header-color);
    font-size: 1.75em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    font-weight: bolder;
    animation: slideInFromBottom 1s ease-in-out 0.75s forwards;
    opacity: 0;
}

.header-container > header > span {
    color: var(--accent-color);
}

.connexion-panel {
    width: 35%;
    border-left: 1px solid #999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 8px 250px rgba(0, 0, 0, 0.8);
    z-index: 9;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 450px;
    min-width: 275px !important;
    height: 500px;
    background-color: transparent;
    padding: 1rem;
    border-radius: 10px;
}


.title {
    margin: auto;
    color: var(--accent-color);
    text-transform: uppercase;
    font-size: 4em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    padding-bottom: 5rem!important;
    font-weight: bolder;
}

.login-content .input-div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one {
    margin-top: 0;
}

.i {
    color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.i i {
    transition: .3s;
}

.input-div>div {
    position: relative;
    height: 45px;
}

.input-div>div>h5 {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 18px;
    transition: .3s;
}

.input-div:before,
.input-div:after {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: var(--accent-color);
    transition: .4s;
}

.input-div:before {
    right: 50%;
}

.input-div:after {
    left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
    width: 50%;
}

.input-div.focus>div>h5 {
    top: -5px;
    font-size: 15px;
}

.input-div.focus>.i>i {
    color: var(--accent-color);
}

.input-div>div>input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #222;
}

.input-div.pass {
    margin-bottom: 4px;
}

a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #999;
    font-size: 0.9rem;
    transition: .3s;
}

a:hover {
    color: var(--accent-color);
}

footer{
    position: absolute;
    bottom: 0;
    padding-bottom: 1rem;
    margin-top: 5rem;
}

.social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 5px;
    color: #fff;
    border-radius: 50%;
    background: var(--accent-color);
    transition: all 0.3s ease;
}

.social-icons a:hover {
    background: #fff;
    color: var(--accent-color);
}

.social-icons a i {
    font-size: 20px;
}

footer p {
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
}


/* Animation part */


@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* dark */

[data-dark] {
    position: absolute;
    display: none;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 998;
}

.active{
    display: block;
}

/* Alert */


.alert {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    width: fit-content;
    height: fit-content;
    z-index: 999;
    padding: 0;
    margin: 0;
    border: 3px solid var(--accent-color);
    border-radius: 10px;
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-body > h5 {
    font-weight: bold;
    font-size: 1.5em;
    color: var(--main-color);
}

.card-body > p {
    text-decoration: underline;
}

.btn-close {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    width: 50%;
}

.btn-close:hover {
    color: var(--accent-color);
    background-color: #fff!important;
}


/* Mobile */

/* Mobile form container */
@media screen and (max-width: 1050px) {
    .container {
        grid-gap: 5rem;
    }
}

@media screen and (max-width: 1000px) {
    form {
        width: 450px;
    }

    .title {
        margin: auto;
        font-size: 4em;
    }
}

@media screen and (max-width: 960px) {
    .container {
        grid-template-columns: 1fr;
    }

    .login-content {
        justify-content: center;
        color: #fff;
    }

    .form-login {
        padding: 40px;
        background-color: #fff;
        width: 420px;
        border-radius: 8px;
        box-shadow: 3px 3px 15px rgba(88, 34, 160, 0.2);
    }
}

@media screen and (max-width: 425px) {
    form {
        width: 300px !important;
    }

    .title {
        font-size: 2.5em;
    }
}

/* Page */

@media screen and (max-width: 1300px) {
    .wrapper-image {
        width: 50%;
    }

    .connexion-panel {
        width: 50%;
        background: #fff;
    }

    .header-container {
        padding-right: 1.5rem;
        padding-left: 0;
        text-align: center;
    }

    .header-container > h1 {
        font-size: 5em;
    }

    .header-container > header {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 960px) {
    body{
        overflow: hidden;
    }

    .form-login {
        padding: 20px;
        height: max-content;
    }

    .title {
        padding-bottom: 1rem!important;
        margin: 1rem auto;
    }

    .content-container{
        background: transparent;
    }

    .wrapper-image {
        width: 100%!important;
    }

    .wrapper-image::before {
        width: 100%;
    }

    .carousel {
        width: 100%;
    }

    .connexion-panel {
        position: absolute;
        background: transparent!important;
        box-shadow: none;
        border: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
    }

    footer {
        position: absolute!important;
        bottom: 0;
        background: #fff;
        width: 100vw;
        height: fit-content;
        padding-top: 1rem;
        box-shadow: 4px 8px 250px rgba(0, 0, 0, 0.8);
        border-top: 1px solid #999;
        margin: 0!important;
    }

    footer > p {
        margin-top: 0.5rem;
    }

    .header-container {
        display: none;
    }

    .max-width {
        display: none;
    }
}