
nav{
    background: darkgreen!important;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 998;
    padding: 16px 32px;
}

.max-width-nav{
    max-width: 1280px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-title a{
    display: flex;
    align-items: center;
    gap: 1rem ;
}

.navbar-title h3 {
    color: #fff;
    font-weight: bolder;
}

.navbar-title img {
    transition: all ease 0.4s;
}

.navbar-title img:hover {
    transform: scale(1.2);
}

.hamburger {
    display: none;
    position: relative;
    z-index: 1;
    
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;

    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background-color: #fff;
    border-radius: 6px;
    z-index: 1;

    transform-origin: 0 0;
    transition: 0.4s;
}

.hamburger:hover span:nth-child(2) {
    transform: translateX(10px);
    background-color: var(--accent-color);
}

.hamburger.is-active span:nth-child(1) {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}
.hamburger.is-active span:nth-child(2) {
    opacity: 0;
    transform: translateX(15px);
}
.hamburger.is-active span:nth-child(3) {
    transform: rotate(-45deg);
    transform-origin: 10% 90%; 
}

.hamburger.is-active:hover span {
    background: var(--accent-color);
}

@media screen and (max-width: 960px){
    .hamburger {
        display: block!important;
    }

    .menu {
        display: none!important;
    }

    .options-group {
        display: none!important;
    }
}

.menu {
    height: 100%;
    width: max-content;
}

.menu-list {
    display: flex;
    gap: 2.5rem;
    align-items: center;
    margin: 0;
}

.item {
    position: relative;
    display: inline-block;
    padding: 0.5rem 1rem;
    color: #fff;
    font-size: 1.15em;
    font-weight: bolder;
    transition: all ease 0.4s;
    border-radius: 50px;
}

.menu-list .item.is-active, .item:hover {
    background-color: #fff;
    color: var(--accent-color);
    border-radius: 50px;
}

.options-group {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.sign button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--background-color);
    background-color: rgb(55, 146, 55);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: bolder;

    z-index: 999;
}

.sign button:hover {
    background-color: rgba(55, 146, 55, 0.8);
}

.sign > button > i {
    margin-left: 0.5rem;
}

.lang select {
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: var(--main-color);
    background-color: var(--background-color);
    border: 2px solid var(--main-color);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: bolder;
}

.lang select:hover, 
.lang select:focus {
    border-color: var(--accent-color);
}

select option:hover,
select option:focus {
  background-color: var(--accent-color);
  color: var(--background-color);
}

select > optgroup option {
    color: var(--main-color);
    background-color: var(--background-color);
}

/* Mobile menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 997;
    padding-top: 6rem;

    opacity: 0;
    transform: translateY(-100%);
    background: darkgreen!important;
    color: #fff;
    transition: all 0.4s ease-in-out;
}

.mobile-menu.is-open {
    opacity: 0.8;
    transform: translateY(0);
}

.mobile-menu-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0 0 0;
    margin-bottom: auto;
}

.mobile-menu-item {
    width: 100%;
    height: max-content;
    text-align: center;
    cursor: pointer;
    transition: all ease-in-out 0.4s;
    padding: 1rem 0;
}

.mobile-menu-item:hover {
    background: #fff;
}

.mobile-menu-item:hover .mobile-item {
    color: var(--accent-color);
}

.mobile-item {
    padding: 1rem 0;
    width: 100%;
    height: max-content;
    color: #fff;
    font-size: 1.25em;
    font-weight: bolder;
}

.mobile-options-group {
    position: absolute;
    width: max-content;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}